.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

.wrapper .sidebar {
    width: 272px;
}

.wrapper .main {
    flex: 1;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    .wrapper {
        flex-direction: column;
    }

    .wrapper .sidebar {
        width: 100%;
    }

    .wrapper .main {
        width: 100%;
    }
}